:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --color-de-fondo: #F5F5F5;
   --color-de-link: #000000;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

/*Sección Menu*/

section.menu{

}

/*Sección Title*/

section.title{

}

/*Sección About*/

section.about{

}

/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}